/* ------------------------------------------- */
/* MEDIA QUERY: 380px (RESPONSIVE Mobile) */
/* ------------------------------------------- */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.error-message-text {
    color: #e01e5a;
    background-color: #fbe9ef;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.btn-login:disabled {
    background-color: #dddddd;
    cursor: not-allowed;
    opacity: 0.7;
}

/* Mensajes de error y éxito */
.error-message {
    color: #e01e5a;
    margin-bottom: 10px;
    display: block;
}

.success-message {
    color: #2eb67d;
    display: block;
    margin-bottom: 10px;
}

.back-to-login {
    margin-top: 25px;
}

.back-to-login a {
    font-weight: 500;
}

/* --------------------------------------------------------- */
/* MEDIA QUERY: 768px (Tabletas - VISTA DOBLE COLUMNA) */
/* --------------------------------------------------------- */
@media (min-width: 768px) {
    .hero_login {
        max-width: 1000px;
        padding: 40px;
    }

    .workspace-card-container {
        max-width: 800px;
    }

    .hero_login p {
        font-size: 18px;
        color: #454545;
        margin-bottom: 20px;
    }

}

/* ------------------------------------------- */
/* MEDIA QUERY: 1200px (NetBooks) */
/* ------------------------------------------- */
@media (min-width: 1200px) {
    .hero_login {
        max-width: 1000px;
        padding: 40px;
    }

    .workspace-card-container {
        max-width: 800px;
    }

    .hero_login p {
        font-size: 18px;
        color: #454545;
        margin-bottom: 20px;
    }

}

/* ------------------------------------------- */
/* MEDIA QUERY: max. 1200px (Desktop) */
/* ------------------------------------------- */
@media (max-width: 1200px) {
    .hero_login {
        max-width: 1000px;
        padding: 40px;
    }

    .workspace-card-container {
        max-width: 800px;
    }

    .hero_login p {
        font-size: 18px;
        color: #454545;
        margin-bottom: 20px;
        width: auto !important;
        max-width: none !important;
    }

}