.workspace-detail-container {
    display: flex;
    height: 100vh;
}

/* El componente que envuelve todo el contenido del canal */
.chat-area {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* La lista de mensajes debe ser la que tenga el scroll */
.message-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
}

/* El área del input siempre al fondo */
.chat-input-area {
    flex-shrink: 0;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #e8e8e8;
}

.sidebar-header {
    height: 80px;
    padding: 0px 20px;
    border-bottom: 1px solid #5a1d5a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.sidebar-header h2 {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.back-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease;
    opacity: 0.8;
}

.back-btn:hover {
    color: #1d9bd1;
    /* Color azul Slack al pasar el mouse */
}

.back-btn i {
    line-height: 1;
    /* Alineación del icono */
}