:root {
    --slack-purple: #4a154b;
    --slack-bg: #f8f8f8;
    --text-main: #1d1c1d;
    --text-muted: #616061;
    --border-color: #ebebeb;
}

body {
    margin: 0;
    background-color: white;
    font-family: "Slack-Lato", "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    color: var(--text-main);
}

.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}

.header_logo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.header_logo .logo_slack {
    margin-bottom: 20px;
    align-content: center;
    justify-content: center;
}

.hero_login h1 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.75px;
    margin-bottom: 10px;
}

.hero_login p {
    font-size: 18px;
    color: #454545;
    margin-bottom: 20px;
}

.slack-logo {
    height: 60px;
    margin-bottom: 20px;
}

.home-header h1 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.75px;
    margin-bottom: 10px;
}

.home-header p {
    font-size: 18px;
    color: #454545;
    margin-bottom: 20px;
}

.workspace-card-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.list-label {
    padding: 20px 24px;
    margin: 0;
    font-size: 15px;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--slack-bg);
    border-radius: 10px 10px 0 0;
}

.workspace-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #eeeeee;
    transition: background 0.2s ease;
}

.workspace-item:last-child {
    border-bottom: none;
    border-radius: 0 0 8px 8px;
}

.workspace-item:hover {
    background-color: #f9f9f9;
}

.workspace-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.workspace-icon {
    width: 48px;
    height: 48px;
    background-color: #e0e0e0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--slack-purple);
}

.workspace-details {
    display: flex;
    flex-direction: column;
}

.workspace-name {
    font-weight: 700;
    font-size: 18px;
}

.workspace-members {
    font-size: 13px;
    color: var(--text-muted);
}

.workspace-btn {
    background: transparent;
    border: 1px solid #ddd;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
}

.workspace-btn:hover {
    border-color: var(--slack-purple);
    box-shadow: inset 0 0 0 1px var(--slack-purple);
}

/* Loader y Error */
.loader-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-msg {
    color: #e01e5a;
    padding: 20px;
    display: block;
}

/* acciones de los botones de eliminar y editar */
.workspace-actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 8px;
    margin: 10px;
}

.btn-action-text {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.btn-action-icon {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    color: #b0b0b0;
    transition: color 0.2s ease, transform 0.1s ease;
}

.btn-action-icon:hover {
    transform: scale(1.1);
    color: #616061;
}

.btn-action-icon.edit:hover {
    color: #0055ff;
}

.btn-action-icon.delete:hover {
    color: #e01e5a;
}

/* Boton de entrar */
.workspace-btn {
    margin-left: auto;
    background: transparent;
    border: 1px solid #ddd;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
}

.action-edit {
    display: flex;
    justify-content: flex-end;
}

.action-delete {
    display: flex;
    justify-content: flex-end;
}